.recuadro{
    background-color: darkcyan;
    margin: auto;         
    color: white;
    width: 20%;
    height: 95px; 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
    text-align: center;                         
}
.centrar{
    text-align: center;
}
.azul{
    color: darkcyan;
}
.fondo1{
    background-image:url(imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;
    height: 200px;                
}
.centrarimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fondo2{
    background-image:url(imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    height: 200px;
    padding-top: 10px;
    background-size: 100% 100%;

}
@font-face {
    font-family: caveat;
    src: url(fonts/caveat.woff2);
}
.letra{
    font-family: caveat;
    font-size: 30px;
    color: chartreuse;
    text-align: center;
}
.verde{
    color: chartreuse;
    text-align: center;
}
.restaurante{
    text-align: left;
    color: darkcyan;
    padding-left: 20px;
}
.foto1{
    text-align: right;
    margin-bottom: 0px;
    padding-right: 10px;
    position: bottom;
}
.foto2{
    text-align: left;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    position: bottom;
}
.foto3{
    text-align: right;
    margin-top: 0px;
    position: top;
}
.foto4{
    text-align: left;
    margin-top: 0px;
    position: top;
}
.circular{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.logo{
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}